---
import type { InputProps } from "@/scripts/shared";
import "@/styles/input.scss";
import Label from "./Label.astro";

interface Props extends InputProps {
    /** The style of the button */
    type: "text" | "number";
    datalist?: `#${string}`;
}

const { id, label, type, datalist } = Astro.props;
---
<Label label={label}>
    <input id={id} type={type} list={datalist}/>
</Label>
