---
import { type InputProps, dataAttr } from "@/typescript/shared";
import Label from "./Label.astro";

interface Props extends InputProps {
    /** The style of the button */
    type: "text" | "number";
    datalist?: `#${string}`;
}

const { id, label, dataset, type, datalist } = Astro.props;
---
<Label label={label}>
    <input id={id} type={type} list={datalist} {...dataAttr(dataset)}/>
</Label>
