---
import { type InputProps, dataAttr } from "@/typescript/shared";

interface Props extends InputProps {
    type: "checkbox" | "radio";
    name?: string;
    checked?: boolean;
}

const { id, label, dataset, name, type, checked } = Astro.props;
---
<label>
    <input id={id} type={type} name={name} checked={checked} {...dataAttr(dataset)}/>
    <slot>{label}</slot>
</label>
